<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <link th:replace="fragments/head :: head-infor"></link>
    <meta charset="UTF-8">
    <title>Create Candidate</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <style>
        .menusetting {
            background-color: #CCCCCC;
        }
        
        .hrefsetting {
            margin-top: 5px;
            margin-bottom: 5px;
        }
        
        a {
            text-decoration: none;
        }
        
        .tablesetting {
            padding: 10px;
            height: 40px;
            border: 1px solid black;
        }
        
        .inputsetting {
            padding: 9px;
            border: 1px solid black;
        }
        
        .datesetting {
            height: 40px;
            padding: 7px;
            border: 1px solid black;
        }
        
        .selectsetting {
            height: 40px;
            border: 1px solid black;
        }
        
        .radiosetting {
            padding: 3px;
        }
        
        .tablebackground {
            background-color: #CCCCCC;
        }
        
        .inputedbackground {
            background-color: #DDDDDD;
        }
        
        .pagesetting {
            border: 1px solid black;
            border-style: solid solid solid solid;
            padding: 7px;
            border-color: black;
            border-bottom-color: #FFFFFF;
        }
        
        .nontabsetting {
            border: 1px solid black;
            border-style: solid solid solid solid;
            padding: 7px;
            border-color: black;
        }
        
        .pagesettingfordiv {
            margin-top: 12px;
        }
        
        .tabsetting {
            border-style: solid solid solid solid;
            border: 1px solid black;
        }
        
        .submitbutton {
            background-color: #073763;
            color: white;
            border: 1px solid black;
            padding: 3px;
            width: 75px;
            margin-right: 25px;
        }
        
        .closebutton {
            border: 1px solid black;
            padding: 3px;
            width: 75px;
        }
        
        .fa-arrow-left {
            color: #CF2A28;
        }
    </style>
</head>

<body>
    <div class="app container-fluid d-flex flex-column">
        <header th:replace="fragments/header :: #app-header"></header>
        <div class="row app-content flex-grow-1">
            <div class="container-fluid">
                <div class="row h-100">
                    <nav th:replace="fragments/sidebar :: #app-sidebar"></nav>
                    <main class="ol col-10 px-0 d-flex flex-column">
                        <div class="header border-bottom border-dark py-1 px-3">
                            <h4 class="m-0">Create Candidate</h4>
                        </div>
                        <div class="content p-2 d-flex flex-column flex-grow-1">
                            <div class="row">
                                <div class="col-lg-1"></div>
                                <div class="col-lg-3 pagesettingfordiv">
                                    <a class="pagesetting" style="color: black;" th:href="createNewCandidate">Candidate Information</a>
                                </div>
                                <div class="col-lg-1 pagesettingfordiv" style="margin-left: -50px;">
                                    <span style="color: black;" class="nontabsetting tablebackground">Result</span>
                                </div>
                            </div>
                            <div class="row tabsetting" style="margin-left: 20px; padding: 20px; margin-top: 5px; width: 1300px">
                                <div class="col-lg-11 " style="font-weight: 550;">
                                    <form th:action="@{/saveProfile}" th:object="${traineeCandidateForm}" enctype="multipart/form-data" method="POST">
                                        <div>
                                            <div class="row tablesetting" style="background-color: #95BCF2;">Personal Information</div>
                                            <div class="row">
                                                <div class="col-lg-2 tablesetting tablebackground">Empl ID
                                                </div>
                                                <div class="col-lg-2 tablesetting inputedbackground">.</div>
                                                <div class="col-lg-2 tablesetting tablebackground">Type</div>
                                                <div class="col-lg-2 tablesetting inputedbackground">
                                                    Candidate <input type="text" th:field="*{typeId}" style="display: none;" />
                                                </div>

                                                <div class="col-lg-2 tablesetting tablebackground">Status</div>
                                                <div class="col-lg-2 tablesetting inputedbackground">New</div>
                                                <input type="text" th:field="*{statusId}" style="display: none;" />
                                            </div>



                                            <div class="row">
                                                <div class="col-lg-2 tablesetting tablebackground">Application Date
                                                </div>

                                                <input class="datesetting col-lg-4" type="date" th:field="*{applicationDate}" />
                                                <div class="col-lg-2 tablesetting tablebackground">Channel *
                                                </div>

                                                <select class="col-lg-4 selectsetting" th:field="*{channelId}">
                                                    <option th:value="0">Select Channel</option>
                                                    <option th:each="channel:${channelList}"
                                                        th:value="${channel.channelId}"
                                                        th:text="${channel.channelName }"></option>
                                                </select>

                                            </div>



                                            <div class="row">
                                                <div class="col-lg-2 tablesetting tablebackground">Site</div>

                                                <select class="col-lg-4 selectsetting" th:field="*{locationId}">
                                                    <option th:value="0">Select Site</option>
                                                    <option th:each="location:${locationList}"
                                                        th:value="${location.locationId }"
                                                        th:text="${location.locationName }"></option>
                                                </select>

                                                <div class="col-lg-2 tablesetting tablebackground">Account</div>
                                                <div class="col-lg-4 tablesetting inputedbackground">
                                                    <span></span>
                                                </div>
                                            </div>



                                            <div class="row">
                                                <div class="col-lg-2 tablesetting tablebackground">Name *
                                                </div>

                                                <input class="col-lg-4 tablesetting" type="text" th:field="*{fullName}" placeholder="Full Name" />

                                                <div class="col-lg-2 tablesetting tablebackground">Gender*</div>
                                                <div class="col-lg-2 radiosetting text-center" style="border: 1px solid black; border-style: solid none solid solid;">
                                                    <input type="radio" th:field="*{gender}" th:value="Male">
                                                    <label th:text="Male"></label>

                                                </div>
                                                <div class="col-lg-2 radiosetting text-center" style="border: 1px solid black; border-style: solid solid solid none;">
                                                    <input type="radio" th:field="*{gender}" th:value="Female">
                                                    <label th:text="Female"></label>
                                                </div>
                                            </div>



                                            <div class="row">
                                                <div class="col-lg-2 tablesetting tablebackground">DOB *</div>

                                                <input type="date" class="col-lg-4 datesetting" th:field="*{dateOfBirth}" />

                                                <div class="col-lg-2 tablesetting tablebackground">CV</div>

                                                <input class="col-lg-4 datesetting " type="file" name="file" accept="file/pdf, file/doc,file/docx" />

                                            </div>



                                            <div class="row">
                                                <div class="col-lg-2 tablesetting tablebackground">University</div>

                                                <select class="col-lg-4 selectsetting" th:field="*{universityId}">
                                                    <option th:value="0">Select University</option>
                                                    <option th:each="university:${universityList}"
                                                        th:value="${university.universityId }"
                                                        th:text="${university.universityName }"></option>
                                                </select>

                                                <div class="col-lg-2 tablesetting tablebackground">Faculty</div>

                                                <select class="col-lg-4 selectsetting" th:field="*{facultyId}">
                                                    <option th:value="0">Select Faculty</option>
                                                    <option th:each="faculty:${facultyList}"
                                                        th:value="${faculty.facultyId }"
                                                        th:text="${faculty.facultyName }"></option>
                                                </select>

                                            </div>



                                            <div class="row">
                                                <div class="col-lg-2 tablesetting tablebackground">Phone *
                                                </div>

                                                <input class="col-lg-4 tablesetting" type="text" th:field="*{Phone}" placeholder="Phone Number" />

                                                <div class="col-lg-2 tablesetting tablebackground">Email *
                                                </div>

                                                <input class="col-lg-4 tablesetting" type="email" th:field="*{email}" placeholder="Email" />

                                            </div>



                                            <div class="row">
                                                <div class="col-lg-2 tablesetting tablebackground">Skill</div>

                                                <select class="col-lg-4 selectsetting" th:field="*{skillId}">
                                                    <option th:value="0">Select Skill</option>
                                                    <option th:each="skill:${skillList}"
                                                        th:value="${skill.skillId }" th:text="${skill.skillName }"></option>
                                                </select>

                                                <div class="col-lg-2 tablesetting tablebackground">Graduation Year
                                                </div>

                                                <input type="month" class="col-lg-4 datesetting" th:field="*{graduationYear}" />

                                            </div>



                                            <div class="row">
                                                <div class="col-lg-2 tablesetting tablebackground">Foreign Language
                                                </div>

                                                <input class="col-lg-4 tablesetting" type="text" th:field="*{foreignLanguage}" placeholder="Foreign Language" />

                                                <div class="col-lg-2 tablesetting tablebackground">Level</div>

                                                <input class="col-lg-4 tablesetting" type="text" th:field="*{level}" placeholder="Level" />

                                            </div>



                                            <div class="row">
                                                <div class="col-lg-2 tablesetting tablebackground">Note</div>

                                                <input class="col-lg-10 tablesetting" type="text" th:field="*{remarks}" />

                                            </div>



                                            <div class="row">
                                                <div class="col-lg-2 tablesetting tablebackground">History</div>
                                                <div class="col-lg-10 tablesetting inputedbackground">2</div>
                                            </div>



                                            <div class="row" style="margin-top: 20px;">
                                                <button class="submitbutton" type="submit">Submit</button>
                                                <button class="closebutton" type="button" onclick="history.back()">
                                                    <i class="fas fa-arrow-left"></i> Close
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </main>
                </div>
            </div>
        </div>
        <footer th:replace="fragments/footer :: #app-footer"></footer>
        <div th:replace="fragments/modal :: #app-modal"></div>
    </div>
    <script type="text/javascript" th:replace="fragments/script :: script"></script>
    <!-- put your script here -->
</body>

</html>