<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<link th:replace="fragments/head :: head-infor"></link>
<title>View Trainer</title>
<link rel="stylesheet"
	th:href="@{/static/trainerManagement/css/trainer.css}">
</head>
<body>
	<div class="app container-fluid d-flex flex-column">
		<header th:replace="fragments/header :: #app-header"></header>
		<div class="row app-content flex-grow-1">
			<div class="container-fluid">
				<div class="row h-100">
					<nav th:replace="fragments/sidebar :: #app-sidebar"></nav>
					<main class="col col-10 px-0 d-flex flex-column">
						<div class="header border-bottom border-dark py-1 px-3">
							<h4 class="m-0">Trainer List</h4>
						</div>
						<div class="content p-2 d-flex flex-column flex-grow-1">
							<div class="mx-4">
								<ul class="list-inline">
									<li class="nav-item bg-gray border1"><a
										th:href="@{/showTrainerForm}" class="nav-link"
										style="color: black;">Trainer Information</a></li>
									<li class="nav-item border1"><a
										th:href="@{/showTrainerList}" class="nav-link"
										style="color: black;">Trainer List</a></li>
								</ul>
							</div>
							
							<form class="content-form border1" th:action="@{/searchTrainer}">
								Filter: <input type="text" name="keyword" th:value="${keyword}" />
								&nbsp; <input type="submit" value="Search" />
								<div>&nbsp;</div>
								<table class="border1 content-detail" cellpadding="3" border="1">
									<thead>
										<tr>
											<th>ID</th>
											<th>Account</th>
											<th>Full name</th>
											<th>Date Of Birth</th>
											<th>Gender</th>
											<th>Unit</th>
											<th>Major</th>
											<th>Phone</th>
											<th>Email</th>
											<th>Experience</th>
											<th>Remarks</th>
											<th colspan="2" style="text-align: center;">Action</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="trainer:${trainerList}">
											<td th:text="${trainer.trainerProfileId}"></td>
											<td th:text=${trainer.account}></td>
											<td th:text=${trainer.fullName}></td>
											<td th:text=${trainer.dateOfBirth}></td>
											<td th:text=${trainer.gender}></td>
											<td th:text=${trainer.unit}></td>
											<td th:text=${trainer.major}></td>
											<td th:text=${trainer.phone}></td>
											<td th:text=${trainer.email}></td>
											<td th:text=${trainer.experience}></td>
											<td th:text=${trainer.remarks}></td>
											<!-- <td th:text=${trainer.type}></td> -->
											<td><a
												th:href="@{/showFormForUpdateTrainer/{id}(id=${trainer.trainerProfileId})}"
												class="btn btn-sm btn-outline-dark"><i
													class="fas fa-pen"></i> Edit</a></td>
											<td><a
												th:href="@{/deleteTrainer/{id}(id=${trainer.trainerProfileId})}"
												class="btn btn-sm btn-outline-dark"><i
													class="fas fa-trash-alt" style="color: red"></i>Delete</a></td>
										</tr>
									</tbody>

								</table>
							</form>
							<br>

							<div class="pagination">
								<div class="form-row mr-5">
									<label for="" class="col col-form-label text-nowrap">Page
										Size</label> <select name="pageSize"
										class="form-control rounded-0 col border-dark">
										<option
											th:each="size: ${T(fa.mockproject.util.ClassManagementConstant).CLASS_LIST_PAGE_SIZE}"
											th:selected="${size} == ${pageSize}" th:value="${size}"
											th:text="${size}"></option>
									</select>
								</div>
								<div class="form-row">
									<label class="col col-form-label text-nowrap">Show 1 -
										[[${pageSize} >= ${totalItems} ? ${totalItems} : ${pageSize}
										]] of total [[${totalItems}]] items</label> <select name="pageIndex"
										class="form-control rounded-0 col border-dark">
										<option th:each="i: ${#numbers.sequence(1, totalPages)}"
											th:selected="${i} == ${pageIndex}" th:value="${i}"
											th:text="'Page ' + ${i} + '/' + ${totalPages}"></option>
									</select>
								</div>
								<nav class="ml-auto">
									<ul class="pagination mb-0">
										<li class="page-item"
											th:classappend="${pageIndex} == ${1} ? 'disabled' : ''">
											<button
												class="page-link bg-light-gray border-dark rounded-0 text-body previous">
												<span aria-hidden="true"><i class="fas fa-angle-double-left"></i></span>
											</button>
										</li>
										<li class="page-item"
											th:each="i: ${#numbers.sequence(1, totalPages)}"
											th:classappend="${i} == ${pageIndex} ? 'active' : ''">
											<button
												class="page-link bg-light-gray border-dark rounded-0 text-body"
												th:text="${i}"></button>
										</li>
										<li class="page-item"
											th:classappend="${pageIndex} == ${totalPages} ? 'disabled' : ''">
											<button
												class="page-link bg-light-gray border-dark rounded-0 text-body next">
												<span aria-hidden="true"><i class="fas fa-angle-double-right"></i></span>
											</button>
										</li>
									</ul>
								</nav>
							</div>
							<br> <a th:href="@{/showTrainerForm}"
								class="btn btn-outline-dark w-125px"><i
								class="fas fa-user-plus" style="color: green"></i> Add Trainer</a>
						</div>
					</main>
				</div>
			</div>
		</div>
	</div>
	<footer th:replace="fragments/footer :: #app-footer"></footer>
	<div th:replace="fragments/modal :: #app-modal"></div>
	<script type="text/javascript" th:replace="fragments/script :: script"></script>
</body>
</html>