:root {
    --header-background: #BBB;
    --nav-backgound: #BBB;
    --footer-backgound: #BBB;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

.col-5 {
    width: calc(100% / 5);
}

.col-4 {
    width: calc(100% / 4);
}

.col-7 {
    width: calc(100% / 7);
}

.btn {
    padding: 2px 6px;
    cursor: pointer;
}

.btn + .btn {
    margin-left: 2px;
}

.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

header {
    background-color: rgb(62, 62, 161);
    padding: 8px 0;
}

.header-title {
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.app-content {
    display: flex;
    flex: 1;
}

nav {
    background-color: rgb(227, 223, 223);
    border: 1px solid black;
    font-size: 14px;
    width: 240px;
}

nav .collapse-btn  {
    margin-left: auto;
}

nav .role-option-lable  {

}

nav .role-option  {

}

nav .role-option-item  {

}

nav .nav-list  {
    margin-left: 24px;
}

nav .nav-item  {
    padding-left: 0px;
}

nav .nav-link  {
    text-decoration: none;
}

main {
    width: 100%;
    border-right: 1px solid black;
}

main .header {
    border-bottom: 1px solid black;
    margin-bottom: 6px;
    padding: 4px 8px;
}

main .content .nav-tab {
    list-style: none;
    display: flex;
    margin-left: 20px;
}

main .content .nav-item {
    display: block;
    padding: 4px;
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: black;
    font-size: 14px;
    color: black;
}

main .content .nav-item + .nav-item {
    border-left: none;
}

main .content .nav-link {
    text-decoration: none;
    color: black;
}

main .content-main {
    border: 1px solid black;
    margin: 0 6px 6px;
    padding: 3px;
}

main .content-main-section {

}

main .content-main-section + .content-main-section {
    margin-top: 8px;
}

main .section-header {
    border: 1px solid black;
    font-size: 14px;
    background-color: rgb(187, 224, 251);
}

main .section-header .collapse-btn {
    padding: 2px 8px;
    font-size: 20px;
    border-radius: 0;
    border-width: 0 1px 0 0;
    cursor: pointer;
}

main .content-table {
    font-size: 14px;
    font-weight: normal;
    text-align: left;
    width: 100%;
    border-collapse: collapse;
}

main .content-table th,
main .content-table td {
    font-weight: normal;
    border: 1px solid black;
    padding: 4px 1px;
}

select {
    width: 200px;
}

main .content-table td input,
main .content-table td select {
    border: none;
    outline: none;
    width: 100%;
}

main .content-table-add-btn,
main .content-table-remove-btn {
    margin: 0 2px;
    cursor: pointer;
}

main .content-table-add-btn {
    color: white;
    border: none;
    border-radius: 50%;
    padding-top: 2px;
    width: 18px;
    line-height: 16px;
    background-color: rgb(113, 187, 187);
}

main .content-table-remove-btn {
    color: red;
    border: none;
    font-size: 16px;
    width: 18px;
    background-color: transparent;
}

main .control-btn {
    margin: 8px 4px;
}
.header{
    height: 50px;
    background-image: url(/static/common/images/backgroundheader.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.user-information{
    float: right;
    padding: 5px;
    color: white;
}
.logout{
    margin-top: -5px;
}
.logout a{
    color: white;
}
.menu {
    padding:10px;
    width: 100%;
    float: left;
    background-color:#e3e3e3;
}
.menu-top{
    margin-top: 15px;
}
.navbar-inner{
    color: blue;
}
.dashboard{
    float: right;
    padding: 0px;
}
.dashboard hr {
    border-top: 1px solid black;
}
.dashboard h3{
    padding: 10px;
}
.dashboard-menu{
    padding: 15px;
    height: 70px;
    width: 100%;
}

.dashboard-menu select{
    margin-right: 15px;
    width: 15%;
}
.dashboard-content{
    padding:15px;
}
.dashboard-content h6{
    text-align: center;
}
.body-content{
    padding: 15px;
    float:right;
}
footer {
    background-color: rgb(227, 223, 223);
    border: 1px solid black;
    padding: 12px;
    height:50px;
    float: left;
    width: 100%;
}
