<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head th:replace="/header :: head">
  <title>Add role</title>
</head>
<body>
  <div th:include="header :: header"></div>
  <div class="body-content col-lg-9">
  <h3>Add role</h3>
    <form  name='f' th:action="@{/addRole}" th:object="${roleModel}" method='POST'>
      <div class="form-group">
        <label>Role Name</label>
        <input class="form-control" required oninvalid="this.setCustomValidity('Role name must be not empty!')"
                oninput="this.setCustomValidity('')" type='text' name='name' th:field="*{name}">
      </div>
      <div class="form-group">
        <label>Privileges</label>
        <select multiple class="form-control" th:field="*{privileges}">
          <option th:each="privilege:${privileges}"
                  th:value="${privilege}"
                  th:text="${privilege}"></option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
      <button class="btn btn-danger"><a th:href="@{'/listRole'}">Cancel</a></button>
    </form>
  </div>
  <footer th:replace="/footer :: footer"></footer>
</body>

</html>