<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Login</title>
</head>
<body>
<!-- Include _menu.html -->
<th:block th:include="/_menu"></th:block>

<h1>Add role</h1>


<form name='f' th:action="@{/addRole}" th:object="${roleModel}" method='POST'>
  <table>
    <tr>
      <td>Role Name:</td>
      <td><input type='text' name='name' th:field="*{name}"></td>
    </tr>
    <tr>
      <td>Privileges:</td>
      <td><select class="col-lg-4 " th:field="*{privileges}">
        <option th:each="privilege:${privileges}"
                th:value="${privilege}"
                th:text="${privilege}"></option>
      </select></td>
    </tr>
    <tr>
      <td><input name="submit" type="submit" value="submit"/></td>
    </tr>
  </table>
</form>
</body>

</html>