<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head th:replace="/header :: head">
  <title>List role</title>
</head>
<body>
<div th:include="header :: header"></div>
<div class="body-content col-lg-9">
  <button type="button" class="btn btn-primary"> <a th:href="@{'/addRole'}">Add Role</a> </button>
  <!--<div class="alert alert-success" role="alert" th:text="${message}">
  </div>-->
<table class="table table-striped">
  <thead>
  <tr>
    <th>No</th>
    <th> Role name</th>
    <th> Privileges</th>
    <th> Action</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="role, i : ${roles}">
    <td th:text="${i.index +1}"/>
    <td th:text="${role.name}"/>
    <td><p th:if="${#lists.size(role.privileges) > 0}" th:text="${role.privileges}"/></td>
    <td><a th:href="@{'/editRole?roleId=' + ${role.roleId}}">Edit</a></td>
  </tr>
  </tbody>
</table>
<ul th:if="${totalElement > 0}" class="pagination"
    th:each="pageNumber : ${#numbers.sequence( 1,totalPage ,1)}">
  <li class="page-item" th:classappend="${pageNumber==page} ? active"><a
      th:href="@{/listRole(size=${size}, page=${pageNumber})}"
      th:text=${pageNumber}
      class="page-link"></a></li>
</ul>
</div>
<footer th:replace="/footer :: footer"></footer>
</body>
</html>