<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>List user</title>

  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
</style>
<body>
<table class="table table-striped">
  <thead>
  <tr>
    <th>No</th>
    <th> Role name</th>
    <th> Privileges</th>
    <th> Action</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="role, i : ${roles}">
    <td th:text="${i.index +1}"/>
    <td th:text="${role.name}"/>
    <td><p th:if="${#lists.size(role.privileges) > 0}" th:text="${role.privileges}"/></td>
    <td><a th:href="@{'/editRole?roleId=' + ${role.roleId}}">Update</a></td>
  </tr>
  </tbody>
</table>
<ul th:if="${totalElement > 0}" class="pagination"
    th:each="pageNumber : ${#numbers.sequence( 1,totalPage ,1)}">
  <li class="page-item" th:classappend="${pageNumber==page} ? active"><a
      th:href="@{/listRole(size=${size}, page=${pageNumber})}"
      th:text=${pageNumber}
      class="page-link"></a></li>
</ul>
</body>
</html>