<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<footer id="app-footer" class="border-top border-dark bg-light-gray row border-bottom pb-4">
		<div class="col-2">
		</div>
		<div class="col-auto">
			<a href="0" class="help-btn text-blue-01 small mr-5">
				<i class="fa-solid fa-circle-question"></i>
				Help
			</a>
			<a href="0" class="help-btn text-blue-01 small">
				<i class="fa-solid fa-clipboard-list"></i>
				Create ticket on FI2.0
			</a>
		</div>
	</footer>
</body>
</html>