<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:fragment="head-infor" >
    	<meta charset="UTF-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <script src="https://kit.fontawesome.com/eb5105679e.js" crossorigin="anonymous"></script>
	    <link rel="stylesheet" th:href="@{/static/lib/bootstrap/bootstrap.min.css}">
	    <script th:src="@{/static/lib/jquery/jquery-3.6.0.min.js}"></script>
	    <link rel="stylesheet" th:href="@{/static/common/css/main.css}">
    </th:block>
</head>
<body>
</body>
</html>