<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Class Management</title>
    <script src="https://kit.fontawesome.com/eb5105679e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/static/common/css/main.css}">
</head>
<body>
	<nav id="app-sidebar" class="left-menu col col-2 nav flex-column bg-light-gray border-right border-dark">
		<div class="nav-item text-right">
			<button type="button" class="collapse-btn border-0 bg-transparent text-primary h5 pr-0">
				<i class="fa-solid fa-angles-left"></i>
			</button>
		</div>
		<div class="nav-item pl-2 mb-4">
			<p class="role-option-lable mb-0">Your role now is:</p>
			<select value="" class="role-option py-1 w-100">
				<option class="role-option-item" th:each="role:${roles}"
								th:value="${role.name}"
								th:text="${role.name}"></option>
			</select>
		</div>
		<ul class="nav flex-column pl-0">
			<li class="nav-item">
				<a th:href="@{'/dashboard'}" class="nav-link pl-2 pr-0 py-1 d-flex align-items-center">
					<span class="nav-link-dot mr-2">
						<i class="fa-solid fa-circle"></i>
					</span>
					Dashboard
				</a>
			</li>
			<li class="nav-item">
				<a href="#" class="nav-link pl-2 pr-0 py-1 d-flex align-items-center">
					<span class="nav-link-dot mr-2">
						<i class="fa-solid fa-circle"></i>
					</span>
					Candidate Management
				</a>
			</li>
			<li class="nav-item">
				<a th:href="@{/showTrainerList}" class="nav-link pl-2 pr-0 py-1 d-flex align-items-center">
					<span class="nav-link-dot mr-2">
						<i class="fa-solid fa-circle"></i>
					</span>
					Trainer Management
				</a>
			</li>
			<li class="nav-item">
				<a href="#" class="nav-link pl-2 pr-0 py-1 d-flex align-items-center">
					<span class="nav-link-dot mr-2">
						<i class="fa-solid fa-circle"></i>
					</span>
					Trainee Management
				</a>
			</li>
			<li class="nav-item">
				<a th:href="@{/classes}" class="nav-link pl-2 pr-0 py-1 d-flex align-items-center">
					<span class="nav-link-dot mr-2">
						<i class="fa-solid fa-circle"></i>
					</span>
					Class Management
				</a>
			</li>
			<li class="nav-item">
				<a href="#" class="nav-link pl-2 pr-0 py-1 d-flex align-items-center">
					<span class="nav-link-dot mr-2">
						<i class="fa-solid fa-circle"></i>
					</span>
					General Setting
				</a>
			</li>
			<div sec:authorize="hasAnyRole('ROLE_SYSTEM_ADMIN')">
				<li class="nav-item">
					<a  th:href="@{'/listRole'}" class="nav-link pl-2 pr-0 py-1 d-flex align-items-center">
					<span class="nav-link-dot mr-2">
						<i class="fa-solid fa-circle"></i>
					</span>
						Role management
					</a>
				</li>
				<li class="nav-item">
					<a th:href="@{'/listUser'}" class="nav-link pl-2 pr-0 py-1 d-flex align-items-center">
					<span class="nav-link-dot mr-2">
						<i class="fa-solid fa-circle"></i>
					</span>
						User management
					</a>
				</li>
			</div>
		</ul>
	</nav>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
    <script th:src="@{/static/common/js/main.js}"></script>
    <script th:src="@{/static/lib/multiselect/multiselect.js}"></script>
</body>
</html>