<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
	<nav id="app-sidebar" class="left-menu col col-2 nav flex-column bg-light-gray border-right border-dark">
		<div class="nav-item text-right">
			<button type="button" class="collapse-btn border-0 bg-transparent text-primary h5 pr-0">
				<i class="fa-solid fa-angles-left"></i>
			</button>
		</div>
		<div class="nav-item pl-2 mb-4">
			<p class="role-option-lable mb-0">Your role now is:</p>
			<select value="" class="role-option py-1 w-100">
				<option class="role-option-item" th:each="role:${#authentication.principal.authorities}"
								th:value="${role}"
								th:text="${role}"></option>
			</select>
		</div>
		<ul class="nav flex-column pl-0">
			<li class="nav-item">
				<a th:href="@{'/dashboard'}" class="nav-link pl-2 pr-0 py-1 d-flex align-items-center">
					<span class="nav-link-dot mr-2">
						<i class="fa-solid fa-circle"></i>
					</span>
					Dashboard
				</a>
			</li>
			<li class="nav-item">
				<a href="viewCandidate" class="nav-link pl-2 pr-0 py-1 d-flex align-items-center">
					<span class="nav-link-dot mr-2">
						<i class="fa-solid fa-circle"></i>
					</span>
					Candidate Management
				</a>
			</li>
			<li class="nav-item">
				<a th:href="@{/showTrainerList}" class="nav-link pl-2 pr-0 py-1 d-flex align-items-center">
					<span class="nav-link-dot mr-2">
						<i class="fa-solid fa-circle"></i>
					</span>
					Trainer Management
				</a>
			</li>
			<li class="nav-item">
				<a href="showTraineeList/1" class="nav-link pl-2 pr-0 py-1 d-flex align-items-center">
					<span class="nav-link-dot mr-2">
						<i class="fa-solid fa-circle"></i>
					</span>
					Trainee Management
				</a>
			</li>
			<li class="nav-item">
				<a th:href="@{/classes}" class="nav-link pl-2 pr-0 py-1 d-flex align-items-center">
					<span class="nav-link-dot mr-2">
						<i class="fa-solid fa-circle"></i>
					</span>
					Class Management
				</a>
			</li>
			<li class="nav-item">
				<a href="#" class="nav-link pl-2 pr-0 py-1 d-flex align-items-center">
					<span class="nav-link-dot mr-2">
						<i class="fa-solid fa-circle"></i>
					</span>
					General Setting
				</a>
			</li>
			<div sec:authorize="hasAnyRole('ROLE_SYSTEM_ADMIN')">
				<li class="nav-item">
					<a  th:href="@{'/listRole'}" class="nav-link pl-2 pr-0 py-1 d-flex align-items-center">
					<span class="nav-link-dot mr-2">
						<i class="fa-solid fa-circle"></i>
					</span>
						Role management
					</a>
				</li>
				<li class="nav-item">
					<a th:href="@{'/listUser'}" class="nav-link pl-2 pr-0 py-1 d-flex align-items-center">
					<span class="nav-link-dot mr-2">
						<i class="fa-solid fa-circle"></i>
					</span>
						User management
					</a>
				</li>
			</div>
		</ul>
	</nav>
</body>
</html>