<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>Add Employee</title>
    <link href="${contextPath}/resources/css/bootstrap.min.css"
          rel="stylesheet">
    <link href="${contextPath}/resources/css/common.css" rel="stylesheet">
    <link href="${contextPath}/resources/js/bootstrap.min.js" rel="stylesheet">
</head>

<body>
<div class="container-fluid">
    <div class="row navi "
         style="font-size: 18px; height: 45px; padding-bottom: 10px">
        <div class="col-lg-9">
            <h4 style="font-size: 20px">
                <i class="fa fa-users"></i> Edit Employee
            </h4>
        </div>
        <div class="col-lg-3">
            <div>
                <c:if test="${pageContext.request.userPrincipal.name != null}">
                    <form id="logoutForm" method="POST" action="${contextPath}/logout">
                        <input type="hidden" name="${_csrf.parameterName}"
                               value="${_csrf.token}" />
                    </form>

                    <h4 style="font-size: 20px">
                        Welcome ${pageContext.request.userPrincipal.name} | <a
                            onclick="document.forms['logoutForm'].submit()"><i
                            class="fa fa-sign-out"></i> Logout</a>
                    </h4>
                </c:if>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 navi" style="height: 1150px; width: 210px;">
            <div class="row"
                 style="height: 20px; margin-left: 2px; margin-bottom: 7px;">
                <a href="" style="font-size: 17px"><i class="fa fa-tachometer"></i>
                    Dashboard</a>
            </div>
            <div class="row" style="height: 20px; margin-left: 2px;">
                <a href="" style="font-size: 17px"><i class="fa fa-bar-chart"></i>
                    Employee Manager</a>
                <div>
                    <div
                            style="height: 20px; margin-left: 15px; margin-bottom: 7px; margin-top: 3px;">
                        <a href="employees" style="font-size: 17px"><i
                                class="fa fa-list"></i> Employee list</a>
                    </div>`
                    <div style="height: 20px; margin-left: 15px; margin-bottom: 7px;">
                        <a href="new" style="font-size: 17px"><i class="fa fa-plus"></i>
                            Add Employee</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 " style="margin-left: 10px;">
            <div>
                <h1>Add Employee</h1>
                <hr>
            </div>
            <form:form method="POST" action="${pageContext.request.contextPath}/editEmployee" modelAttribute="employeeModel">
                <div>
                    <form:input type ="hidden" class="inputbox" path="employeeId"
                                placeholder="First Name" value="${employee.employeeId}"/>
                    <div>
                        <label for="firstName">First Name<span
                                style="color: red;">(*)</span></label>
                    </div>
                    <form:input class="inputbox" path="firstName"
                                placeholder="First Name" value="${employee.firstName}"/>
                </div>
                <div>
                    <div>
                        <label for="lastName"> Last Name<span style="color: red;">(*)</span></label>
                    </div>
                    <form:input class="inputbox" path="lastName"
                                placeholder="Last Name" value="${employee.lastName}"/>
                </div>
                <div>
                    <div>
                        <label for="Phone">Phone<span style="color: red;">(*)</span></label>
                    </div>
                    <form:input class="inputbox" path="phone"
                                placeholder="Phone Number" value="${employee.phone}"/>
                </div>
                <div>
                    <div>
                        <label for="dateOfBirth">Date Of Birth (yyyy-MM-dd)<span
                                style="color: red;">(*)</span></label>
                    </div>

                    <form:input class="inputbox" type="date" path="dateOfBirth" value="${employee.dateOfBirth}"/><br>
                </div>
                <div>
                    <div>
                        <label>Gender<span style="color: red;">(*)</span></label>
                    </div>
                    <div
                            style="margin-left: 10px; margin-bottom: 5px; margin-top: 5px; padding: 5px">
                        <c:set var = "chekedFemale" value="false" />
                        <c:if test="${employee.gender == 0}">
                            <c:set var = "chekedFemale" value="true"/>
                        </c:if>

                        <c:set var = "chekedMale" value="false" />
                        <c:if test="${employee.gender == 1}">
                            <c:set var = "chekedMale" value="true"/>
                        </c:if>
                        <form:radiobutton path="gender" value="0" label="Male" checked="${chekedMale}" />
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <form:radiobutton path="gender" value="1" label="Female"  checked="${chekedFemale}" />
                    </div>
                </div>
                <div>
                    <div>
                        <label for="firstName">Account<span style="color: red;">(*)</span></label>
                    </div>
                    <form:input class="inputbox" path="account" placeholder="Account" value="${employee.account}"/>
                </div>
                <div>
                    <div>
                        <label for="email">Email<span style="color: red;">(*)</span></label>
                    </div>
                    <form:input class="inputbox" path="email" placeholder="Email" value="${employee.email}"/>
                </div>
                <div>
                    <div>
                        <label for="password">Password<span style="color: red;">(*)</span></label>
                    </div>
                    <form:input class="inputbox" path="password"
                                placeholder="Password" value="${employee.password}"/>
                </div>
                <div>
                    <div>
                        <label for="Address">Address</label>
                    </div>
                    <form:input class="inputbox" path="address" placeholder="Address" value="${employee.address}"/>
                </div>
                <div>
                    <div>
                        <label>Status (Active?)</label>
                    </div>
                    <form:checkbox path="status" value="Active" />
                </div>
                <div>
                    <div>
                        <label for="departmentName">Department<span
                                style="color: red;">(*)</span></label>
                    </div>
                    <form:select path="departmentName" class="inputbox"  value="${employee.departmentName}">
                        <form:option value="None"> --SELECT-- </form:option>
                        <form:option value="Developer">Developer</form:option>
                        <form:option value="Front Office">Front Office</form:option>
                        <form:option value="Reception">Reception</form:option>
                        <form:option value="Security">Security</form:option>
                        <form:option value="Business Analyst">Business Analyst</form:option>
                        <form:option value="Tester">Tester</form:option>
                        <form:option value="Project Manager">Project Manager</form:option>
                    </form:select>
                </div>
                <div>
                    <div>
                        <label for="Remark">Remark</label>
                    </div>
                    <form:input class="inputbox" path="remark" placeholder="Remark" value="${employee.remark}"/>
                </div>
                <div style="margin-bottom: 100px;">
                    <input type="button" class="btn btn-danger" value="Back"
                           onclick="history.back()">
                    <input class="btn btn-success" type="submit" value="Save" />
                </div>
            </form:form>
        </div>
    </div>
</div>
</body>

</html>