<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <link th:replace="fragments/head :: head-infor"></link>
  <title>List user</title>
</head>
<body>
<div class="app container-fluid d-flex flex-column">
  <header th:replace="fragments/header :: #app-header"></header>
  <div class="row app-content flex-grow-1">
    <div class="container-fluid">
      <div class="row h-100">
        <nav th:replace="fragments/sidebar :: #app-sidebar"></nav>
        <main class="col col-10 px-0 d-flex flex-column">
          <div class="body-content col-lg-12">
            <button type="button" class="btn btn-primary"><a th:href="@{'/addUser'}">Add User</a>
            </button>
            <!--<div class="alert alert-success" role="alert" th:text="${message}">
            </div>-->
            <table class="table table-striped">
              <thead>
              <tr>
                <th>No</th>
                <th>First name</th>
                <th> Last name</th>
                <th> Email</th>
                <th>Role</th>
                <th> Privileges</th>
                <th> Action</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="user,i : ${users}">
                <td th:text="${i.index +1}"/>
                <td th:text="${user.firstName}"/>
                <td th:text="${user.lastName}"/>
                <td th:text="${user.email}"/>
                <td>
                  <p th:each=" role:${user.roles}" th:text="${role.getName()}"/>
                </td>
                <td><p th:each=" role:${user.roles}"
                       th:if="${#lists.size(role.privileges) > 0}" th:text="${role.privileges}"/>
                </td>
                <td><a th:href="@{'/viewUser?userId=' + ${user.userId}}">View</a> | <a
                    th:href="@{'/editUser?userId=' + ${user.userId}}">Edit</a></td>
              </tr>
              </tbody>
            </table>
            <ul th:if="${totalElement > 0}" class="pagination"
                th:each="pageNumber : ${#numbers.sequence( 1,totalPage ,1)}">
              <li class="page-item" th:classappend="${pageNumber==page} ? active"><a
                  th:href="@{/listUser(size=${size}, page=${pageNumber})}"
                  th:text=${pageNumber}
                  class="page-link"></a></li>
            </ul>
          </div>
        </main>
      </div>
    </div>
  </div>
</div>
<footer th:replace="fragments/footer :: #app-footer"></footer>
</body>
</html>