<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<link th:replace="fragments/head :: head-infor"></link>
	<title>Class Management</title>
	<link rel="stylesheet" th:href="@{/static/classManagement/css/classDetail.css}">
</head>
<body>
    <div class="app container-fluid d-flex flex-column">
        <header th:replace="fragments/header :: #app-header"></header>
        <div class="row app-content flex-grow-1">
			<div class="container-fluid">
				<div class="row h-100">
					<nav th:replace="fragments/sidebar :: #app-sidebar"></nav>
					<main class="ol col-10 px-0 d-flex flex-column">
						<div class="header border-bottom border-dark py-1 px-3">
							<h4 class="m-0">Page Title</h4>          
						</div>
						<div class="content p-2 d-flex flex-column flex-grow-1">
 							<ul class="nav nav-tabs pl-4 border-dark">
								<li class="nav-item">
									<a href="#" class="nav-link rounded-0 bg-gray text-body px-2 py-1 active">Information</a>
								</li>
								<li class="nav-item">
									<a href="#" class="nav-link rounded-0 bg-gray text-body px-2 py-1">Trainee</a>
								</li>
							</ul>
							<div class="tab-content">
								<div class="tab-pane active">
									<form th:with="ViewMode=${T(fa.mockproject.entity.enumtype.ClassViewMode)}"
											enctype="multipart/form-data" 
											class="classbatch-infor-form form" 
											th:action="@{/classes/create}" 
											th:object="${classBatchModel}" 
											th:attr="data-class-id=*{classId}, data-action=${action}"
											method="POST">
											
										<div class="form-content border-left border-right border-bottom p-1 border-dark">
											<section th:replace="classManagement/fragments/formContentSection::section(
												sectionClass='class-general mb-2',
												sectionTitle='General',
												sectionContent=~{classManagement/fragments/generalTable::table(viewMode=${viewMode},ViewMode=${ViewMode})})" 
											class="form-content-section">
											</section>
											<section th:replace="classManagement/fragments/formContentSection::section(
												sectionClass='class-detail mb-2',
												sectionTitle='Detail',
												sectionContent=~{classManagement/fragments/detailTable::table(viewMode=${viewMode},ViewMode=${ViewMode})})" 
											class="form-content-section">
											</section>
											<section th:replace="classManagement/fragments/formContentSection::section(
												sectionClass='class-budget mb-2',
												sectionTitle='Budget',
												sectionContent=~{classManagement/fragments/budgetTable::table(viewMode=${viewMode},ViewMode=${ViewMode})})" 
											class="form-content-section">
											</section>
											<section th:replace="classManagement/fragments/formContentSection::section(
												sectionClass='class-audit',
												sectionTitle='Audit',
												sectionContent=~{classManagement/fragments/auditTable::table(viewMode=${viewMode},ViewMode=${ViewMode})})" 
											class="form-content-section">
											</section>
										</div>
										<div th:insert="${viewMode} == ${ViewMode.ViewClass} ? ~{classManagement/fragments/controlButton :: controlBtn(actionables = ${actionables})} : _" class="control-btn pt-3">
											<div class="btn-wrapper">
												<button type="submit" class="submit-btn btn btn-primary text-white pt-0 pb-1 rounded-0 bg-dark-blue mr-2 mb-2">Submit</button>
												<a th:href="${viewMode} != ${ViewMode.CreateClass} ? ('/classes/view?classId=' + ${classBatchModel.classId}) : '/classes/view/'" class="close-btn btn btn-outline-secondary pt-0 pb-1 rounded-0 mb-2">
													<i class="fa-solid fa-reply text-danger"></i>
													Close
												</a>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</main>
				</div>
			</div>
        </div>
        <footer th:replace="fragments/footer :: #app-footer"></footer>
        <div th:replace="fragments/modal :: #app-modal"></div>
    </div>
	<script type="text/javascript" th:replace="fragments/script :: script"></script>
	<script th:src="@{/static/classManagement/js/classDetail.js}"></script>
</body>
</html>