<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>Employee Infomation</title>
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"
	rel="stylesheet" type="text/css" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <link th:href="@{css/viewEmployee.css}" rel="stylesheet" />
 <link rel="stylesheet" type="text/css" media="all" href="../static/traineeCSSJS/css/traineeInfo.css"
 th:href="@{/static/traineeCSSJS/css/traineeInfo.css}"/>
</head>

<body>	
	<div class="container-fluid">
		<div class="row" style="height: 50px; background-color: #205081; vertical-align: middle;">
			<div class="col-lg-2">
				<img src="https://i.postimg.cc/7Y2Hrb9q/Logo.png" alt="" style="height: 47px; width: 90px;">
			</div>
			<div class="col">
				<h2 style="font-size: 25px; color: white; font-weight: 780; margin-top: 10px;">FSOFT
					HR ULTILITY</h2>
			</div>
		</div>
		<div class="row" style="font-weight: 550;">
			<div class="col-lg-2 menusetting" style="height: 900px;">
				<label>Your role now is:</label> <select style="width: 170px; height: 30px; margin-bottom: 20px;">
					<option>Select Role</option>
				</select>
				<div class="hrefsetting">
					<a href=""><i class="fa fa-circle"></i> Dashboard</a>
				</div>
				<div class="hrefsetting">
					<a href="/"><i class="fa fa-circle"></i> Class Management</a>
				</div>
				<div class="hrefsetting">
					<a href="viewCandidate"><i class="fa fa-circle"></i> Candidate
						Management</a>
				</div>
				<div class="hrefsetting">
					<a href=""><i class="fa fa-circle"></i> Trainer Management</a>
				</div>
				<div class="hrefsetting">
					<a href=""><i class="fa fa-circle"></i> Trainee Management</a>
				</div>
				<div class="hrefsetting">
					<a href=""><i class="fa fa-circle"></i> General Setting</a>
				</div>
			</div>
		</div>
	</div>
	<div style="width: 80%; margin-top: -870px; margin-left: 280px;">
		<form th:action="@{updateTrainee?id={id}(id=${trainee.id})}" method="post" th:object="${trainee}">
			<table class="table table-bordered">
				<h4>Update Trainee Profile</h4>
				<hr>
				<tr>
					<th>
						<p>Empl ID</p>
					</th>
					<td>
						<input th:field="*{id}" th:value="${trainee.id}"></input>
						
					</td>
					<th>
						<p>Type</p>
					</th>
					<td>
						<p>Trainee</p>
					</td>
					<th>
						<p>Status</p>
					</th>
					<td>
						<p th:text="${trainee.status}"></p>
					</td>
					<th>
						<p>Allocation Status</p>
					</th>
					<td>
						<p th:text = ${trainee.allocationStatus}></p>
					</td>
				</tr>
				<tr>
					<th colspan="1">
						<p>Account</p>
					</th>
					<td  colspan="3">
						<p th:text="${trainee.account}"></p>
					</td>
					<th colspan="1">
						<p>Name *</p>
					</th>
					<td colspan="3">
						<input th:field="*{fullName}" th:value="${trainee.fullName}"></input>
						<div th:if="${#fields.hasErrors('fullName')}"
							th:errors="*{fullName}" th:errorclass="error"></div>
					</td>
				</tr>
				<tr>
					<th colspan="1">
						<p>Gender *</p>
					</th>
					<td colspan="3">
						<input type="radio" th:field="*{gender}" th:value="Male" /> <label
							th:text="Male"/> <input type="radio" th:field="*{gender}"
							th:value="Female" /> <label th:text="Female" />
							<div th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"
								th:errorclass="error"></div>
					</td>
					<th colspan="1">
						<p>DOB *</p>
					</th>
					<td colspan="3">
						<span ></span>
						<input  type="date" th:value="${trainee.dayOfBirth}" th:field="*{dayOfBirth}"/>
					</td>
				</tr>
				
				<tr>
					<th colspan="1">
						<p>University</p>
					</th>
					<td colspan="3">
						<select style="width: 300px; " class="col-lg-4 selectsetting"
							th:field="*{universityName}">
							<option th:value="0">Select University</option>
							<option th:each="university:${universityList}"
								th:value="${university.universityName}"
								th:text="${university.universityName}"></option>
						</select>
					</td>
					<th colspan="1">
						<p>Faculty</p>
					</th>
					<td colspan="3">
						<select class="col-lg-4 selectsetting" th:field="*{falcutyName}">
							<option th:value="0">Select Faculty</option>
							<option th:each="faculty:${facultyList}"
								th:value="${faculty.facultyName}"
								th:text="${faculty.facultyName}"></option>
						</select>
					</td>
				</tr>
				<tr>
					<th colspan="1">
						<p>Phone *</p>
					</th>
					<td colspan="3">
						<input  th:field="*{phone}" th:value="${trainee.phone}"></input>
						<div th:if="${#fields.hasErrors('phone')}"
							th:errors="*{phone}" th:errorclass="error"></div>
					</td>
					<th colspan="1">
						<p>Email *</p>
					</th>
					<td colspan="3">
						<input th:field="*{email}" th:value="${trainee.email}"></input>
						<div th:if="${#fields.hasErrors('email')}"
							th:errors="*{email}" th:errorclass="error"></div>
					</td>
				</tr>
				<tr>
					<th colspan="1">
						<p>Salary Paid *</p>
					</th>
					<td colspan="3">
						<p>	<input type="radio" th:field="*{salaryPaid}" th:value="${trainee.salaryPaid}" /> <label
							th:text="Yes"/> <input type="radio" th:field="*{salaryPaid}"
							value="No" /> <label th:text="No" /></p>
					</td>
					<th colspan="1">
						<p>TPB Account</p>
					</th>
					<td colspan="3">
						<p>
							<input type="text" th:field="*{tpbAccount}" th:value="${trainee.tpbAccount}" />
							<div th:if="${#fields.hasErrors('tpbAccount')}"
							th:errors="*{tpbAccount}" th:errorclass="error"></div>
						</p>
					</td>
				</tr>
				<tr>
					<th colspan="1">
						<p>Allowance Group</p>
					</th>
					<td colspan="3">
						<p>
							<select th:field="*{allowanceGroup}" th:value="${trainee.allowanceGroup}">
								<option value="" th:text="--------------"></option>
								<option th:each = "status, stat : ${allowanceGroups}" th:value="${status}" th:text="${status}"></option>
							</select>
						</p>
					</td>
					<th colspan="1">
						<p>Commitment</p>
					</th>
					<td colspan="3">
						<p th:text="${ trainee.commitment + ' months - ' + trainee.endDate}"></p>
					</td>
				</tr>
				<tr>
					<th>
						<p>History</p>
					</th>
					<td colspan="7">
						<p></p>
					</td>
				</tr>
			</table>
			<button type="submit" class="btn btn-info"><i
			class="fa fa-refresh" aria-hidden="true"></i>Update</button>
				<a th:href="@{showTraineeInfo?id={id}(id=${trainee.id})}" class="btn btn-info"><i
					class="fa fa-arrow-left" aria-hidden="true"></i> Back</a>
			</form>
	</div>

</body>
</html>