<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fresher Academy</title>
    <script src="https://kit.fontawesome.com/eb5105679e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
    <div class="app">
        <header>
            <span class="header-title">FSOFT HR UTILITY</span>
        </header>
        <div class="app-content">
            <nav class="nav-bar">
                <button class="collapse-btn">&lt&lt</button>
                <p class="role-option-lable">Your role now is:</p>
                <select value="" class="role-option">
                    <option name="" id="" class="role-option-item">Get data from logged in user or chooseable
                </select>
                <ul class="nav-list">
                    <li class="nav-item">
                        <a href="#" class="nav-link">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Class Management</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Candidate Management</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Trainer Management</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Trainee Management</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">General Setting</a>
                    </li>
                </ul>
            </nav>
            <main>
                <div class="header">
                    Dashboard          
                </div>
               </div>
            </main>
        </div>
        <footer>
            <span>FOOTER</span>
        </footer>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- <script src="../static/js/classManagement.js"></script> -->
</body>
</html>