<!DOCTYPE htmlxmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"
	rel="stylesheet" type="text/css" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title>Training Result</title>
</head>
<body>
	<table th:object="${milestone}" class="table table-bordered">
			<!-- <a th:text="Config Milestone" 
					th:href="@{/configeMilestone}"></a> -->
			<span> <h4>Learning Path</h4></span>
			<hr>
			<tr>
				<th>
					<p>Total Max Score</p>
				</th>
				<td>
					<p th:text="${milestone.totalMaxScore}"></p>
				</td>
				<th>
					<p>Total Passing Score</p>
				</th>
				<td>
					<p th:text="${milestone.totalPassingScore}"></p>
				</td>
				<th>
					<p>Total Weighted Number</p>
				</th>
				<td>
					<p th:text="${milestone.totalWeightedNumber}"></p>
				</td>
			</tr>

			<table class="table table-bordered" th:each="milestone : ${milestones}">
				<tr>
					<th colspan="">
						<p>Milestone Name</p>
					</th>
					<th colspan="">
						<p>Salary Paid</p>
					</th>
					<th colspan="">
						<p>Start Date</p>
					</th>
					<th  colspan="">
						<p>End Date</p>
					</th>
				</tr>
				
				<tr>
					<td colspan="">
						<p th:text="${milestone.milestoneName}"></p>
					</td>
					<td colspan="">
						<p th:text="${milestone.salaryPaid}"></p>
					</td>
					<td colspan="">
						<p th:text="${milestone.startDate}"></p>
					</td>
					<td  colspan="">
						<p th:text="${milestone.endDate}"></p>
					</td>
					<tr>
							<th colspan="1">
								<!-- <button>Add Topic</button> -->
							</th>
							<th colspan="">
								<p>Topic</p>
							</th>
							<th colspan="">
								<p>Max Score</p>
							</th>
							<th colspan="">
								<p>Passing Score</p>
							</th>
							<th  colspan="">
								<p>Weighted Number</p>
							</th>
						</tr>
					<tr th:each="topic : ${milestone.topics}">
						<td colspan="1">
								
						</tD>
						<td>
							<p th:text="${topic.topicName}"></p>
						</td>
						<td>
							<p th:text="${topic.maxScore}"></p>
						</td>
						<td>
							<p th:text="${topic.passingScore}"></p>
						</td>
						<td>
							<p th:text="${topic.weightedNumber}"></p>
						</td>
					</tr>
				</tr>
			</table>
			
				
					
			
			
			
			<tr>	
			
			</tr>
			
		</table>
		<div>
			<!-- <a href="showTraineeList/1" class="btn btn-info"><i
				class="fa fa-arrow-left" aria-hidden="true"></i> Back</a> <a
				th:href="@{updateTrainee?id={id}(id=${trainee.id})}"
				class="btn btn-warning text-light"><i class="fa fa-refresh"
				aria-hidden="true"></i> Save</a> -->
		</div>
</body>
</html>