<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Update Candidate</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
<style>
.menusetting {
	background-color: #CCCCCC;
}

.hrefsetting {
	margin-top: 5px;
	margin-bottom: 5px;
}

.tablesetting {
	padding: 10px;
	height: 40px;
	border: 1px solid black;
}

.inputsetting {
	padding: 9px;
	border: 1px solid black;
}

.datesetting {
	padding: 8px;
	border: 1px solid black;
}

.selectsetting {
	padding: 10px;
	border: 1px solid black;
}

.radiosetting {
	padding: 5.5px;
}

.tablebackground {
	background-color: #CCCCCC;
}

.inputedbackground {
	background-color: #DDDDDD;
}

.pagesetting {
	border: 1px solid black;
	border-style: solid solid solid solid;
	padding: 7px;
	border-color: black;
	border-bottom-color: #FFFFFF;
}

.nontabsetting {
	border: 1px solid black;
	border-style: solid solid solid solid;
	padding: 7px;
	border-color: black;
}

.pagesettingfordiv {
	margin-top: 12px;
}

.tabsetting {
	border-style: solid solid solid solid;
	border: 1px solid black;
}

.submitbutton {
	background-color: #073763;
	color: white;
	border: 1px solid black;
	padding: 3px;
	width: 75px;
}

.closebutton {
	border: 1px solid black;
	padding: 3px;
	width: 75px;
}

.fa-arrow-left {
	color: #CF2A28;
}
</style>
</head>

<body>
	<div class="container-fluid">
		<div class="row"
			style="height: 50px; background-color: #205081; vertical-align: middle;">
			<div class="col-lg-2">
				<img src="https://i.postimg.cc/7Y2Hrb9q/Logo.png" alt=""
					style="height: 47px; width: 90px;">
			</div>
			<div class="col">
				<h2 style="font-size: 19px; color: white; font-weight: 550;">FSOFT
					HR ULTILITY</h2>
			</div>
		</div>
		<div class="row" style="font-weight: 550;">
			<div class="col-lg-2 menusetting" style="height: 900px;">
				<label>Your role now is:</label> <select
					style="width: 170px; height: 30px; margin-bottom: 20px;">
					<option>Select Role</option>
				</select>
				<div class="hrefsetting">
					<a href=""><i class="fa fa-circle"></i> Dashboard</a>
				</div>
				<div class="hrefsetting">
					<a href="/"><i class="fa fa-circle"></i> Class Management</a>
				</div>
				<div class="hrefsetting">
					<a href="viewCandidate"><i class="fa fa-circle"></i> Candidate
						Management</a>
				</div>
				<div class="hrefsetting">
					<a href=""><i class="fa fa-circle"></i> Trainer Management</a>
				</div>
				<div class="hrefsetting">
					<a href=""><i class="fa fa-circle"></i> Trainee Management</a>
				</div>
				<div class="hrefsetting">
					<a href=""><i class="fa fa-circle"></i> General Setting</a>
				</div>
			</div>
			<div class="col-lg-9">
				<div>
					<div class="row">
						<div class="col-lg-1"></div>
						<div class="col-lg-3 pagesettingfordiv">
							<a class="pagesetting" style="color: black;"
								th:href="@{/updateCandidate(traineeCandidateProfileId=*{updateProfile.traineeCandidateProfileId})}">Candidate
								Information</a>
						</div>
						<div class="col-lg-1 pagesettingfordiv"
							style="margin-left: -50px;">
							<a class="nontabsetting tablebackground" style="color: black;"
								th:href="@{/updateCandidateResults(traineeCandidateProfileId=*{updateProfile.traineeCandidateProfileId})}">Result</a>

						</div>
					</div>
					<div class="row tabsetting"
						style="margin-left: 20px; padding: 20px; margin-top: 5px;">
						<div class="col-lg-12 " style="font-weight: 550;">
							<form
								th:action="@{/saveUpdate(traineeCandidateProfileId=${updateProfile.traineeCandidateProfileId})}"
								th:object="${profile}" enctype="multipart/form-data"
								method="POST">
								<div>
									<div class="row tablesetting"
										style="background-color: #95BCF2;">Personal Information</div>
									<div class="row">
										<div class="col-lg-2 tablesetting tablebackground">Empl
											ID</div>
										<div class="col-lg-2 tablesetting inputedbackground">
											<span th:text="${updateProfile.traineeCandidateProfileId}"></span>
										</div>
										<div class="col-lg-2 tablesetting tablebackground">Type</div>
										<div class="col-lg-2 tablesetting inputedbackground">
											<span th:text="${updateType.type}"></span> <input
												type="hidden" th:value="${updateType.profileStatusId}"
												name='profileStatusId' />
										</div>

										<div class="col-lg-2 tablesetting tablebackground">Status</div>
										<div class="col-lg-2 tablesetting inputedbackground">
											<span th:text="${updateStatus.status}"></span> <input
												type="hidden" th:value="${updateStatus.profileStatusId}"
												name='profileStatusId' />
										</div>

									</div>



									<div class="row">
										<div class="col-lg-2 tablesetting tablebackground">Application
											Date</div>
										<div>
											<input class="col-lg-4 datesetting" type="datetime-local"
												th:field="${updateCandidate.applicationDate}" />
										</div>
										<div class="col-lg-2 tablesetting tablebackground">Channel
											*</div>
										<div>
											<select class="col-lg-4 selectsetting"
												th:field="${updateChannel.channelId}">
												<option th:text="${updateChannel.channelName}"
													th:value="${updateChannel.channelId}"></option>
												<option th:each="channel:${channelList}"
													th:value="${channel.channelId}"
													th:text="${channel.channelName }"></option>
											</select>
										</div>
									</div>



									<div class="row">
										<div class="col-lg-2 tablesetting tablebackground">Site</div>
										<div>
											<select class="col-lg-4 selectsetting"
												th:field="${updateLocation.locationId}">
												<option th:text="${updateLocation.locationName}"
													th:value="${updateLocation.locationId}"></option>
												<option th:each="location:${locationList}"
													th:value="${location.locationId }"
													th:text="${location.locationName }"></option>
											</select>
										</div>
										<div class="col-lg-2 tablesetting tablebackground">Account</div>
										<div class="col-lg-4 tablesetting inputedbackground">
											<span th:text="${updateAccount.account}"></span>
										</div>
									</div>



									<div class="row">
										<div class="col-lg-2 tablesetting tablebackground">Name
											*</div>
										<div>
											<input class="col-lg-4 tablesetting" type="text"
												th:field="${updateProfile.fullName}" placeholder="Full Name" />
										</div>
										<div class="col-lg-2 tablesetting tablebackground">Gender*</div>
										<div class="col-lg-2 radiosetting text-center"
											style="border: 1px solid black; border-style: solid none solid solid;">
											<input type="radio" th:field="${updateProfile.gender}"
												th:value="Male"> <label th:text="Male"></label>

										</div>
										<div class="col-lg-2 radiosetting text-center"
											style="border: 1px solid black; border-style: solid solid solid none;">
											<input type="radio" th:field="${updateProfile.gender}"
												th:value="Female"> <label th:text="Female"></label>
										</div>
									</div>



									<div class="row">
										<div class="col-lg-2 tablesetting tablebackground">DOB *</div>
										<div>
											<input type="date" class="col-lg-4 datesetting"
												th:field="${updateProfile.dateOfBirth}" />
										</div>
										<div class="col-lg-2 tablesetting tablebackground">CV</div>
										<div class="col-lg-4 tablesetting">
											<input class="hidden" type="file" name="file" id="file"
												accept="file/pdf, file/doc,file/docx" /><label for="file">Upload
												New CV </label> <a th:href="@{/downloadCV(cvId=${updateCv.cvId})}"
												th:text="${updateCv.name}"></a>
										</div>
									</div>



									<div class="row">
										<div class="col-lg-2 tablesetting tablebackground">University</div>
										<div>
											<select class="col-lg-4 selectsetting"
												th:field="${updateUniversity.universityId}">
												<option th:text="${updateUniversity.universityName}"
													th:value="${updateUniversity.universityId}"></option>
												<option th:each="university:${universityList}"
													th:value="${university.universityId }"
													th:text="${university.universityName }"></option>
											</select>
										</div>
										<div class="col-lg-2 tablesetting tablebackground">Faculty</div>
										<div>
											<select class="col-lg-4 selectsetting"
												th:field="${updateFaculty.facultyId}">
												<option th:text="${updateFaculty.facultyName}"
													th:value="${updateFaculty.facultyId}"></option>
												<option th:each="faculty:${facultyList}"
													th:value="${faculty.facultyId }"
													th:text="${faculty.facultyName }"></option>
											</select>
										</div>
									</div>



									<div class="row">
										<div class="col-lg-2 tablesetting tablebackground">Phone
											*</div>
										<div>
											<input class="col-lg-4 tablesetting" type="text"
												th:field="${updateProfile.phone}" placeholder="Phone Number" />
										</div>
										<div class="col-lg-2 tablesetting tablebackground">Email
											*</div>
										<div>
											<input class="col-lg-4 tablesetting" type="email"
												th:field="${updateProfile.email}" placeholder="Email" />
										</div>
									</div>



									<div class="row">
										<div class="col-lg-2 tablesetting tablebackground">Skill</div>
										<div>
											<select class="col-lg-4 selectsetting"
												th:field="${updateSkill.skillId}">
												<option th:text="${updateSkill.skillName}"
													th:value="${updateSkill.skillId}"></option>
												<option th:each="skill:${skillList}"
													th:value="${skill.skillId }" th:text="${skill.skillName }"></option>
											</select>
										</div>
										<div class="col-lg-2 tablesetting tablebackground">Graduation
											Year</div>
										<div>
											<input type="date" class="col-lg-4 datesetting"
												th:field="${updateProfile.graduationYear}" />
										</div>
									</div>



									<div class="row">
										<div class="col-lg-2 tablesetting tablebackground">Foreign
											Language</div>
										<div>
											<input class="col-lg-4 tablesetting" type="text"
												th:field="${updateProfile.foreignLanguage}"
												placeholder="Foreign Language" />
										</div>
										<div class="col-lg-2 tablesetting tablebackground">Level</div>
										<div>
											<input class="col-lg-4 tablesetting" type="text"
												th:field="${updateProfile.level}" placeholder="Level" />
										</div>
									</div>



									<div class="row">
										<div class="col-lg-2 tablesetting tablebackground">Note</div>
										<div>
											<input class="col-lg-10 tablesetting" type="text"
												th:field="${updateProfile.remarks}" />
										</div>
									</div>



									<div class="row">
										<div class="col-lg-2 tablesetting tablebackground">History</div>
										<div class="col-lg-10 tablesetting inputedbackground">2</div>
									</div>



									<div class="row" style="margin-top: 20px;">
										<button class="submitbutton" type="submit">Submit</button>
										<button class="closebutton" type="button"
											onclick="history.back()">
											<i class="fas fa-arrow-left"></i> Close
										</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row"></div>
	</div>


</body>

</html>