<div class="search-result flex-grow-1 d-flex flex-column" th:fragment="table">
	<table class="class-table table table-bordered table-striped my-2">
		<thead class="bg-gray">
			<tr>
				<th class="py-0 border-dark">
					<input type="checkbox" class="check-all">
				</th>
				<th class="py-0 border-dark">#</th>
				<th class="py-0 border-dark">
					Class Code
					<i class="fa-solid fa-sort ml-auto float-right mt-1"></i>
				</th>
				<th class="py-0 border-dark">Class Name</th>
				<th class="py-0 border-dark">Actual Start Date</th>
				<th class="py-0 border-dark">Actual End Date</th>
				<th class="py-0 border-dark">Location</th>
				<th class="py-0 border-dark">
					Status
					<i class="fa-solid fa-filter float-right mt-1"></i>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr class="class-item" th:each="class,iterStat : ${classBatchModels}">
				<td class="py-0">
					<input type="checkbox" name="classId" th:value="${class.classId}" class="check-class">
				</td>
				<td class="py-0" th:text="${iterStat.count}"></td>
				<td class="py-0">
					<a th:href="@{'/classes/view?classId=' + ${class.classId}}" th:text="${class.classCode}"></a>
				</td>
				<td class="py-0" th:text="${class.className}"></td>
				<td class="py-0" th:text="${#temporals.format(class.actualStartDate, 'dd-MMM-yyyy')}"></td>
				<td class="py-0" th:text="${#temporals.format(class.actualEndDate, 'dd-MMM-yyyy')}"></td>
				<td class="py-0" th:text="${class.locationModel.locationName}"></td>
				<td class="py-0" th:text="${class.status}"></td>
			</tr>
		</tbody>
	</table>
	<div class="mb-0 mt-auto">
		<div class="pagination-control d-flex">
			<div class="page-size form-row mr-5">
				<label for="" class="col col-form-label text-nowrap">Page Size</label>
				<select name="pageSize" class="form-control rounded-0 col border-dark">
					<option th:each="size: ${T(fa.mockproject.util.ClassManagementConstant).CLASS_LIST_PAGE_SIZE}" th:selected="${size} == ${pageSize}" th:value="${size}" th:text="${size}"></option>
				</select>
			</div>
			<div class="current-page form-row">
				<label class="current-page-description col col-form-label text-nowrap">Show [[${totalElements} == 0 ? 0 : 1]] - [[${pageSize} >= ${totalElements} ? ${totalElements} : ${pageSize} ]] of total [[${totalElements}]] items</label>
				<select name="pageIndex" class="form-control rounded-0 col border-dark">
					<option th:each="i: ${#numbers.sequence(1, totalPages)}"  th:selected="${i} == ${pageIndex}" th:value="${i}" th:text="'Page ' + ${i} + '/' + ${totalPages}"></option>
				</select>
			</div>
			<nav class="ml-auto">
				<ul class="pagination mb-0">
					<li class="page-item" th:classappend="${pageIndex} == ${1} ? 'disabled' : ''">
						<button class="page-link bg-light-gray border-dark rounded-0 text-body previous">
							<span aria-hidden="true">&laquo;</span>
						</button>
					</li>
					<li class="page-item" th:each="i: ${#numbers.sequence(1, totalPages)}" th:classappend="${i} == ${pageIndex} ? 'active' : ''">
						<button class="page-link bg-light-gray border-dark rounded-0 text-body" th:text="${i}"></button>
					</li>
					<li class="page-item"  th:classappend="${pageIndex} == ${totalPages} ? 'disabled' : ''">
						<button class="page-link bg-light-gray border-dark rounded-0 text-body next">
							<span aria-hidden="true">&raquo;</span>
						</button>
					</li>
				</ul>
			</nav>
		</div>
		<div class="control-btn pt-3">
			<div class="btn-wrapper w-75" th:with="Action=${T(fa.mockproject.entity.enumtype.ClassManagementActionEnum)}">
				<button type="button" th:attr="data-action=${Action.Create}" class="create-btn btn btn-outline-dark pt-0 pb-1 px-1 mr-1 mb-2 rounded-0 w-125px">
					<i class="fa-solid fa-circle-plus float-left text-success"></i>
					New Class
				</button>
				<button type="button" th:attr="data-action=${Action.Update}" class="btn btn-outline-dark pt-0 pb-1 px-1 mr-1 mb-2 rounded-0 w-125px">
					<i class="fa-solid fa-circle-arrow-up float-left text-primary"></i>
					Update Class
				</button>
				<button type="button" th:attr="data-action=${Action.Submit}" class="btn btn-outline-dark pt-0 pb-1 px-1 mr-1 mb-2 rounded-0 w-125px">
					<i class="fa-solid fa-turn-up float-left text-orange"></i>
					Submit Class
				</button>
				<button type="button" th:attr="data-action=${Action.Start}" class="btn btn-outline-dark pt-0 pb-1 px-1 mr-1 mb-2 rounded-0 w-125px">
					<i class="fa-solid fa-play float-left text-cyan"></i>
					Start Class
				</button>
				<button type="button" th:attr="data-action=${Action.Finish}" class="btn btn-outline-dark pt-0 pb-1 px-1 mr-1 mb-2 rounded-0 w-125px">
					<i class="fa-solid fa-square-minus float-left text-yellow"></i>
					Finish Class
				</button>
				<button type="button" th:attr="data-action=${Action.Cancel}" class="btn btn-outline-dark pt-0 pb-1 px-1 mr-1 mb-2 rounded-0 w-125px">
					<i class="fa-solid fa-ban float-left text-danger"></i>
					Cancel Class
				</button>
				<button type="button" th:attr="data-action=${Action.Approve}" class="btn btn-outline-dark pt-0 pb-1 px-1 mr-1 mb-2 rounded-0 w-125px">
					<i class="fa-solid fa-thumbs-up float-left text-pink"></i>
					Approve Class
				</button>
				<button type="button" th:attr="data-action=${Action.Reject}" class="btn btn-outline-dark pt-0 pb-1 px-1 mr-1 mb-2 rounded-0 w-125px">
					<i class="fa-solid fa-thumbs-down float-left text-brown"></i>
					Reject Class
				</button>
				<button type="button" th:attr="data-action=${Action.Close}" class="btn btn-outline-dark pt-0 pb-1 px-1 mr-1 mb-2 rounded-0 w-125px">
					<i class="fa-solid fa-circle-minus float-left text-danger"></i>
					Close Class
				</button>
				<button type="button" th:attr="data-action=${Action.Request}" class="btn btn-outline-dark pt-0 pb-1 px-1 mr-1 mb-2 rounded-0 w-125px">
					<i class="fa-solid fa-question float-left text-success"></i>
					Request Infor
				</button>
				<button type="button" th:attr="data-action=${Action.Accept}" class="btn btn-outline-dark pt-0 pb-1 px-1 mr-1 mb-2 rounded-0 w-125px">
					<i class="fa-regular fa-thumbs-up float-left text-purple"></i>
					Accept Class
				</button>
				<button type="button" th:attr="data-action=${Action.Decline}" class="btn btn-outline-dark pt-0 pb-1 px-1 mr-1 mb-2 rounded-0 w-125px">
					<i class="fa-regular fa-thumbs-down float-left text-info"></i>
					Decline Class
				</button>
			</div>
		</div>
	</div>
</div>