<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Class Management</title>
    <script src="https://kit.fontawesome.com/eb5105679e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/lib/multiselect/multiselect.css}">
    <link rel="stylesheet" th:href="@{/common/css/main.css}">
</head>
<body>
	<section th:fragment="section(sectionClass,sectionTitle,sectionContent)" class="form-content-section" th:classappend="${sectionClass}">
		<div class="section-header bg-light-blue border border-dark">
			<button type="button" class="collapse-btn btn bg-transparent rounded-0 border-top-0 border-left-0 border-bottom-0 border-right border-dark">
				<i class="fa-solid fa-caret-down down-arrow"></i>
				<!-- <i class="fa-solid fa-caret-up up-arrow"></i> -->
			</button>
			<span th:text="${sectionTitle}"></span>
		</div>
		<div th:replace="${sectionContent}" class="section-content">
		</div>
	</section>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
    <script th:src="@{/common/js/main.js}"></script>
    <script th:src="@{/lib/multiselect/multiselect.js}"></script>
    <script th:src="@{/classManagement/js/classManagement.js}"></script>
</body>
</html>