:root {
	--light-gray: #dddddd;
	--gray: #cccccc;
	--dark-gray: #666666;
	--blue: #205081;
	--blue-00: #3f80e2;
	--blue-01: #2d78e3;
	--light-blue: #95bcf2;
	--dark-blue: #073763;
}

:focus-visible {
    outline: none;
}

input:read-only,
.read-only {
	background-color: var(--light-gray);
}

.bg-light-gray {
	background-color: var(--light-gray);
}

.bg-gray {
	background-color: var(--gray);
}

.bg-blue {
	background-color: var(--blue);
}

.bg-light-blue {
	background-color: var(--light-blue);
}

.bg-dark-blue {
	background-color: var(--dark-blue);
}

.text-blue-00 {
	color: var(--blue-00);
}

.text-blue-01 {
	color: var(--blue-00);
}

.text-cyan {
	color: cyan;
}

.text-yellow {
	color: yellow;	
}

.text-orange {
	color: #ff9901;
}

.text-brown {
	color: #741948;	
}

.text-pink {
	color: #ff00ff;
}

.text-purple {
	color: #a30aff;
}

.table .add-row-btn,
.table .remove-row-btn {
	border-radius: 50%;
	width: 1.7rem;
	padding: 0;
	text-align: center;
}

.table .remove-row-btn {
	font-size: 1.2rem;
}

.table td {
	border-color: var(--dark);
}

.nav-tabs .nav-link {
	border-width: 1px;
	border-style: solid;
	border-color: var(--dark) var(--dark) var(--dark) transparent;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-color: var(--dark) var(--dark) transparent;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: var(--dark) var(--dark) transparent;
}

.nav-link-dot {
	font-size: .5rem;
}

.custom-file {
    height: calc(1.5em + 0.75rem);
}

.custom-file-input:lang(en)~.custom-file-label::after {
    content: "";
}

.custom-file-label::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: block;
	/* height: calc(1.5em + 0.75rem); */
	height: auto;
	width: 1.7rem;
    padding: 0.375rem 0.5rem;
    /* line-height: inherit; */
	line-height: 1;
    color: #495057;
    content: "";
    background-color: #fff;
    border: 0;
    border-radius: 0;
	background-image: url(../resources/file-arrow-up-solid.svg);
	background-repeat: no-repeat;
	background-size: 1.4rem;
	background-position: center;
}

.form-content-section .collapse-btn i {
	font-size: 1.25rem;
}

.display-6 {
	font-size: 1.5rem;
}

.w-125px {
	width: 135px;
}

.form .control-btn {
	max-width: 750px;
}

.form .control-btn i {
	padding-top: .39rem;
}

.form .control-btn button:disabled i {
	color: var(--gray) !important;
}

header.navbar .login-control {
	line-height: 1;
}

.page-item.active .page-link {
	background-color: var(--dark-gray);
}

.page-item.disabled .page-link {
	background-color: var(--gray);
}

.app {
	min-height: 100vh;
}